.button {
    background-color: white;
    cursor: pointer;
    width: 120px;
    border-radius: 20px;
}

.button_red {
    color: red;
    border-color: red;
}

.button_red:hover {
    color: white;
    background-color: red;
    border-color: red;
}

.button_blue {
    color: blue;
    margin: 0 auto;
}

.button_blue:hover {
    color: white;
    background-color: blue;
    border-color: blue;
}